<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formulario Nombres</title>
    <link rel="stylesheet" href="/static/css/estilos.css">
</head>
<body>
    <h2>Formulario nombres</h2>

    <form class="Ejercicio2" action="/Ejercicio2" method="post">
        <label for="nombre1">Nombre 1:</label>
        <input type="text" name="nombre1" required value="{{ request.form['nombre1'] }}"><br>

        <label for="nombre2">Nombre 2:</label>
        <input type="text" name="nombre2" required value="{{ request.form['nombre2'] }}"><br>

        <label for="nombre3">Nombre 3:</label>
        <input type="text" name="nombre3" required value="{{ request.form['nombre3'] }}"><br>

        <button type="submit">Enviar</button>
    </form>
 {% if nombre_largo is defined and cantidad_caracteres is defined %}
        <div class="resultados">
            <p>Nombre más largo: {{ nombre_largo }}</p>
            <p>Cantidad de caracteres: {{ cantidad_caracteres }}</p>
        </div>
    {% endif %}

</body>

</html>
